@import 'tailwindcss';

:root {
  --background: #fffffd;
  --foreground: #121212;
  --muted-foreground: #9e9e9e;
  --border: #d4d4d4;

  --primary: #f3faff;
  --primary-dark: #5678a8;
  --secondary: #d1eafe;

  --surface: #f9f9f9;
}

@theme inline {
  /* 색상 정의 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);

  /* 폰트 */
  --font-sans: var(--font-pretendard);

  /* 브레이크포인트 정의 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
